/* font */
@font-face {
	font-family: "Calibri Light";
	src: url(assets/font/calibril.ttf);
}

@font-face {
	font-family: "Calibri Regular";
	src: url(assets/font/calibri.ttf);
}

@font-face {
	font-family: "Impact Regular";
	src: url(assets/font/impact.ttf);
}

@font-face {
	font-family: "Helvetica";
	src: url(assets/font/Helvetica.ttf);
}

/* global stylesheet */
body {
	margin: 0px auto;
	min-width: 1024px;
	text-align: center;
}

.wrap {
	width: 1024px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

/* footer stylesheet */
#footer {
	height: 178px;
	background-color: rgb(68, 63, 83);
	max-width: 1920px;
	position: relative;
	margin: 0px auto;
}

#footer .logo {
	text-align: center;
	font-family: "Calibri Regular";
	color: rgb(174, 169, 191);
	font-size: 42px;
	top: 46px;
	width: 100%;
	position: absolute;
}

#footer .content {
	text-align: center;
	font-family: "Helvetica";
	color: rgb(174, 142, 165);
	font-size: 24px;
	top: 125px;
	position: absolute;
}

#footer .email {
	left: 164px;
}

#footer .terms {
	left: 470px;
}

#footer .privacy {
	right: 164px;
}

/* index.php stylesheet */
#index { 
	width: 1024px;
	margin: 0px auto;
	position: relative; 
}

#index .background {
	background-image: url(assets/image/0/home_bg_1125_2436.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 1524px;
	margin: 0px auto;
	position: relative;
}

#index .logo {
	background-image: url(assets/image/0/home_esoreal@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 172px;
	width: 100%;
	top: 276px;
	position: absolute;
}

#index .sub-title {
	text-align: center;
	font-family: "Helvetica";
	color: rgb(119, 123, 132);
	font-size: 50px;
	top: 485px;
	width: 100%;
	position: absolute;
}

#index .arrow {
	background-image: url(assets/image/0/home_arrow@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 96px;
	width: 100%;
	top: 700px;
	position: absolute;
}

#index .icon {
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 132px;
	width: 132px;
	position: absolute;
}

#index .email {
	background-image: url(assets/image/0/home_icon_email_unpressed@3x.png);
	left: 113px;
	top: 1050px;
}

#index .twitter {
	background-image: url(assets/image/0/home_icon_twitter_unpressed@3x.png);
	left: 335px;
	top: 1050px;
}

#index .wechat {
	background-image: url(assets/image/0/home_icon_wechat_unpressed@3x.png);
	left: 555px;
	top: 1050px;
}

#index .weibo {
	background-image: url(assets/image/0/home_icon_weibo_unpressed@3x.png);
	left: 777px;
	top: 1050px;
}

#index .telegram {
	background-image: url(assets/image/0/home_icon_telegram_unpressed@3x.png);
	left: 113px;
	top: 1250px;
}

#index .medium {
	background-image: url(assets/image/0/home_icon_medium_unpressed@3x.png);
	left: 335px;
	top: 1250px;
}

#index .treemit {
	background-image: url(assets/image/0/home_icon_treemit_unpressed@3x.png);
	left: 555px;
	top: 1250px;
}

#index .youtobe {
	background-image: url(assets/image/0/home_icon_youtobe_unpressed@3x.png);
	left: 777px;
	top: 1250px;
}

/* getupdates.php stylesheet */
#getupdates { 
	width: 1024px;
	margin: 0px auto;
	position: relative; 
}

#getupdates .title {
	text-align: left;
	font-family: "Helvetica";
	color: rgb(68, 63, 84);
	font-size: 60px;
	top: 148px;
	left: 48px;
	position: absolute;
}

#getupdates .input-box {
	font-family: "Helvetica";
	color: rgb(167, 169, 174);
	font-size: 40px;
	left: 48px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: solid;
	padding-bottom: 30px;
	width: 900px;
	position:absolute;
}

#getupdates .name-field {
	top: 330px;
}

#getupdates .email-field {
	top: 490px;
}

#getupdates .check-field {
	font-family: "Helvetica";
	position: absolute;
	font-size: 30px;
	color: rgb(255, 0, 0);
	left: 48px;
	top: 600px;
	display: none;
}

#getupdates .subscribe-submit {
	width: 900px;
	height: 136px;
	background: url(assets/image/1/login_button_submit@3x.jpg);
	font-family: "Helvetica";
	font-size: 40px;
	color: rgb(255, 255, 255);
	text-align: center;
	border: 0px;
	left: 48px;
	position: absolute;
	top: 750px;
}

#getupdates .result {
	font-family: "Helvetica";
	position: relative;
	font-size: 60px;
	color: rgb(68, 63, 84);
	margin-top: 500px;
}