/* font */
@font-face {
	font-family: "Calibri Light";
	src: url(assets/font/calibril.ttf);
}

@font-face {
	font-family: "Calibri Regular";
	src: url(assets/font/calibri.ttf);
}

@font-face {
	font-family: "Impact Regular";
	src: url(assets/font/impact.ttf);
}

@font-face {
	font-family: "Helvetica";
	src: url(assets/font/Helvetica.ttf);
}

/* global stylesheet */
body {
	margin: 0px auto;
	min-width: 1024px;
	text-align: center;
}

.wrap {
	width: 1024px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

/* footer stylesheet */
#footer {
	height: 178px;
	background-color: rgb(68, 63, 83);
	max-width: 1920px;
	position: relative;
	margin: 0px auto;
}

#footer .logo {
	text-align: center;
	font-family: "Calibri Regular";
	color: rgb(174, 169, 191);
	font-size: 42px;
	top: 46px;
	width: 100%;
	position: absolute;
}

#footer .content {
	text-align: center;
	font-family: "Helvetica";
	color: rgb(174, 142, 165);
	font-size: 24px;
	top: 125px;
	position: absolute;
}

#footer .email {
	left: 164px;
}

#footer .terms {
	left: 470px;
}

#footer .privacy {
	right: 164px;
}

/* index.php stylesheet */
#index { 
	width: 1024px;
	margin: 0px auto;
	position: relative; 
}

#index .background {
	background-image: url(assets/image/0/home_bg_1125_2436.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 1524px;
	margin: 0px auto;
	position: relative;
}

#index .logo {
	background-image: url(assets/image/0/home_esoreal@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 172px;
	width: 100%;
	top: 276px;
	position: absolute;
}

#index .sub-title {
	text-align: center;
	font-family: "Helvetica";
	color: rgb(119, 123, 132);
	font-size: 50px;
	top: 485px;
	width: 100%;
	position: absolute;
}

#index .arrow {
	background-image: url(assets/image/0/home_arrow@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 96px;
	width: 100%;
	top: 700px;
	position: absolute;
}

#index .icon {
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 132px;
	width: 132px;
	position: absolute;
}

#index .email {
	background-image: url(assets/image/0/home_icon_email_unpressed@3x.png);
	left: 113px;
	top: 1050px;
}

#index .twitter {
	background-image: url(assets/image/0/home_icon_twitter_unpressed@3x.png);
	left: 335px;
	top: 1050px;
}

#index .wechat {
	background-image: url(assets/image/0/home_icon_wechat_unpressed@3x.png);
	left: 555px;
	top: 1050px;
}

#index .weibo {
	background-image: url(assets/image/0/home_icon_weibo_unpressed@3x.png);
	left: 777px;
	top: 1050px;
}

#index .telegram {
	background-image: url(assets/image/0/home_icon_telegram_unpressed@3x.png);
	left: 113px;
	top: 1250px;
}

#index .medium {
	background-image: url(assets/image/0/home_icon_medium_unpressed@3x.png);
	left: 335px;
	top: 1250px;
}

#index .treemit {
	background-image: url(assets/image/0/home_icon_treemit_unpressed@3x.png);
	left: 555px;
	top: 1250px;
}

#index .youtobe {
	background-image: url(assets/image/0/home_icon_youtobe_unpressed@3x.png);
	left: 777px;
	top: 1250px;
}

/* getupdates.php stylesheet */
#getupdates { 
	width: 1024px;
	margin: 0px auto;
	position: relative; 
}

#getupdates .title {
	text-align: left;
	font-family: "Helvetica";
	color: rgb(68, 63, 84);
	font-size: 60px;
	top: 148px;
	left: 48px;
	position: absolute;
}

#getupdates .input-box {
	font-family: "Helvetica";
	color: rgb(167, 169, 174);
	font-size: 40px;
	left: 48px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: solid;
	padding-bottom: 30px;
	width: 900px;
	position:absolute;
}

#getupdates .name-field {
	top: 330px;
}

#getupdates .email-field {
	top: 490px;
}

#getupdates .check-field {
	font-family: "Helvetica";
	position: absolute;
	font-size: 30px;
	color: rgb(255, 0, 0);
	left: 48px;
	top: 600px;
	display: none;
}

#getupdates .subscribe-submit {
	width: 900px;
	height: 136px;
	background: url(assets/image/1/login_button_submit@3x.jpg);
	font-family: "Helvetica";
	font-size: 40px;
	color: rgb(255, 255, 255);
	text-align: center;
	border: 0px;
	left: 48px;
	position: absolute;
	top: 750px;
}

#getupdates .result {
	font-family: "Helvetica";
	position: relative;
	font-size: 60px;
	color: rgb(68, 63, 84);
	margin-top: 500px;
}

/* banner stylesheet */
.banner-container {
	max-width: 1920px;
	height: 102px;
	margin: 0px auto;
}

#banner {
	height: 102px;
	background-color: rgb(255, 255, 255);
	max-width: 1920px;
	min-width: 1024px;
	width: 100%;
	position: fixed;
	z-index: 4;
	transition: all 300ms ease-in-out;
	margin:0 auto;
}

#banner .logo {
	background-image: url(assets/image/0/home_logo@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 42px;
	width: 222px;
	top: 30px;
	left: 30px;
	position: absolute;
}

#banner .menu-button {
	background-image: url(assets/image/0/home_button_dropdown@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 48px;
	width: 66px;
	top: 28px;
	right: 26px;
	position: absolute;
}

#banner .menu-frame {
	max-width: 1920px;
	min-width: 1024px;
	height: 480px;
	left: 0px;
	top: 102px;
	position:absolute;
	background-color: rgb(255, 255, 255);
}

#banner .menu-item {
	max-width: 1920px;
	min-width: 1024px;
	height: 120px;
	left: 0px;
	position:absolute;

	font-family: "Helvetica";
	font-size: 50px;
	color: rgb(140, 137, 148);
	padding-top: 35px;
	padding-left: 48px;
	text-align: left;
}

#banner .menu-item1 {
	top: 0px;
}

#banner .menu-item2 {
	top: 120px;
}

#banner .menu-item3 {
	top: 240px;
}

#banner .menu-item4 {
	top: 360px;
}

#banner .menu-line {
	max-width: 1920px;
	min-width: 1024px;
	position:absolute;
	left: 0px;
	background-color: rgb(140, 137, 148);
	height: 1px;
}

#banner .menu-icon {
	background-image: url(assets/image/0/dropdown_arrow@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 54px;
	width: 30px;
	top: 33px;
	right: 48px;
	position: absolute;
}

#banner .icon-back {
	background-image: url(assets/image/1/login_close@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 48px;
	width: 58px;
	top: 31px;
	left: 40px;
	position: absolute;
}

/* events.php stylesheet */
#events { 
	width: 1024px;
	margin: 0px auto;
	position: relative; 
}

#events .title {
	font-family: "Helvetica";
	font-size: 50px;
	color: rgb(68, 63, 84);
	width: 100%;
	margin-top: 48px;
	padding-left:48px;
	padding-right: 48px;
	position: relative;
}

#events .sub-info {
	position: relative;
	margin-top: 20px;
	height: 120px;
}

#events .head-icon {
	background-image: url(assets/image/4/events_portrait@3x.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 120px;
	height: 120px;
	top: 0px;
	left: 48px;
	position: absolute;
}

#events .author {
	font-family: "Helvetica";
	font-size: 40px;
	color: rgb(119, 116, 129);
	left: 190px;
	top: 30px;
	position: absolute;
}

#events .photo {
	background-image: url(assets/image/4/events_pic1@2x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	background-size: 928px 520px;
	margin-left: 48px;
	width: 928px;
	height: 520px;
	margin-top: 34px;
	position: relative;
}

#events .content {
	font-family: "Helvetica";
	font-size: 50px;
	color: rgb(68, 63, 84);
	position: relative;
	margin-top: 42px;
	padding-left: 48px;
	padding-right: 48px;
	width: 100%;
	position: relative;
	text-align: left;
	line-height: 1.8;
}

#events .frame {
	border-width: 0px;
	background-color: rgb(246, 247, 248);
	margin-top: 44px;
	margin-left: 48px;
	margin-right: 48px;
	height: 250px;
	position: relative;
}

#events .icon {
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	left: 34px;
	width: 42px;
	height: 48px;
	position: absolute;
}

#events .location-icon {
	background-image: url(assets/image/4/events_icon_place@3x.png);
	top: 42px;
}

#events .time-icon {
	background-image: url(assets/image/4/events_icon_time@3x.png);
	top: 120px;
}

#events .frame-text {
	font-family: "Helvetica";
	font-size: 40px;
	color: rgb(68, 63, 84);
	text-align: left;
	left: 80px;
	position: absolute;
	padding-right: 34px;
}

#events .time-text {
	top: 35px;
}

#events .location-text {
	top: 115px;
}

#events .button {
	background-image: url(assets/image/4/events_button_3x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	margin-left: 48px;
	margin-right: 48px;
	height: 152px;
	margin-top: 50px;
	position: relative;
	margin-bottom: 50px;

	font-family: "Helvetica";
	font-size: 60px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 30px;
}